[package]
name = "libsql-python"
version = "0.0.3"
edition = "2021"

[lib]
name = "libsql_experimental"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.19.0"
libsql = { git = "https://github.com/libsql/libsql/", rev = "36ff3f38f6fd90ceb48a6bf5bffcf0bb996485ed" }
tokio = { version = "1.29.1", features = [ "rt-multi-thread" ] }
