[package]
name = "libsql-python"
version = "0.0.12"
edition = "2021"

[lib]
name = "libsql_experimental"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.19.0"
libsql = { git = "https://github.com/libsql/libsql/", rev = "d36276eab153a88aee724268bc01a648619abe9a" }
tokio = { version = "1.29.1", features = [ "rt-multi-thread" ] }

[patch.crates-io]
tonic = { git = "https://github.com/hyperium/tonic" }
tonic-web = { git = "https://github.com/hyperium/tonic" }
tower-http = { git = "https://github.com/tower-rs/tower-http", branch = "lucio/grpc-defaults" }
